*{
    margin: 0;
    padding: 0;
}

body {
    color: #999;
    background: url('../assets/images/meetings-bg.jpg') no-repeat center center fixed;
    font-family: 'Roboto', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: white;
    padding: 30px 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    color: black;
}
.logo-half{
    color: coral;
}
.menu{
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu-item{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.menu-item:hover{
    color: steelblue;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    top:100% ;
    left: -20px;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    padding: 10px 20px;
    padding-top: 20px;
    background-color: white;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.dropdown:hover .dropdown-menu{
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
}
.menu-bar{
    font-size: 24px;
    color: black;
    display: none;
    position: relative;
}
#mobile-menu{
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    background-color: white;
    padding: 10px 10px;
    width: 170px;
    transition: 0.5s;
}
.mobile-dropdown:hover .mobile-dropdown-menu{
    display: block;
}
.mobile-dropdown-menu{
    list-style: none;
    white-space: nowrap;
    display: none;
    margin-left: 20px;
}
.hero-section{
    position: relative;
    background-color:rgba(65, 69, 77, 0.5);
}
#backgroundVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -100;
}

.hero-area{
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    color: white;
}
.join-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-color: brown;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}
.slider-section{
    position: relative;
    padding-bottom: 50px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0 40px;
    gap: 30px;
    position: absolute;
    top: -120px;
}

.card-item{
    background-image: url('../assets/meetings-bg.jpg');
    background-size: cover;
    color: white;
    border-radius: 20px;
    overflow: hidden;
}
.card-item-container{
    background-color: rgb(255, 0, 0, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.meeting-container{
    padding-top: 200px;
    width: 1100px;
    margin:0 auto;
}

.meeting-card-container{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.meeting-card-container img{
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.meeting{
    width: 250px;
    background-color: white;
    margin-top: 50px;
    padding: 40px;
    border-radius: 30px;
    color: black;
}

.meeting >ul {
    list-style: none;
}
.meeting >h2 {
    font-style: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.meeting >ul>li {
    margin-top: 20px;
    font-weight: 500;
}
.meeting button{
    background-color: brown;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    color: white;
}

.cards{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-top: 50px;
}
.meeting-card-item{
    background-color: white;
    border-radius: 30px;
    
}
.card-info{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}
.date{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date>h3{
    color: brown;
    font-size: 20px;
}
.date>p{
    font-size: 20px;
}
.apply-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 50px;
    background-image: url('../assets/images/apply-bg.jpg');
    grid-gap: 40px;
}

.join-us-container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.card-join{
    padding: 40px;
    background-color: rgb(86, 92, 97, 0.3);
    color: white;
}

.card-join>h2{
    font-size: 30px;
}
.card-join>p{
    font-size: 20px;
    margin-top: 10px;
}
.card-join>button{
    padding: 10px 20px;
    background-color: brown;
    border: none;
    color: white;
    border-radius: 30px;
    margin-top: 15px;
}
.apply-btn{
    background-color:#E29A28 !important;
}

.accordion-container{
    background-color: white;
    padding: 40px;
    border-radius: 30px;

}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/* course section */

.popular-course-section{
    padding: 100px 50px;
}
.popular-header>h2{
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.course-container{
    margin-top: 50px;
    display: flex;
    gap: 40px;
}
.course-card{
    background-color: white;
    color: #111;
}
.course-card img{
   width: 100%;
}
.course-info{
    padding: 10px;
}
.course-info>h2{
    font-weight: 500;
    text-align: center;
}
.price-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.rating>.bx{
    color: #E29A28;
}

/* about styles */
.about-section{
    background-image: url('../assets/images/facts-bg.jpg');
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 50px;
}
.about-title{
    font-size: 50px;
    color: white;
}
.about-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}
.about-card{
    width: 250px;
    background-color: rgba(11, 10, 12, 0.3);
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.about-card>h2{
    font-size: 30px;
    color: #E29A28;
    font-weight: bold;
}
.about-card>p{
    color: white;
    margin-top: 10px;
    font-size: 20px;
}
.about-card:nth-child(even) {
    margin-top: 40px;
}

.vedio-container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vedio{
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.vedio>img{
    width: 100%;
    border-radius: 30px;
}
.play-icon{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}
.play-icon>img{
    width: 100%;
}
.footer{
    padding: 50px 0;
    border-top: 1px solid slategray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}


@media only screen and (max-width: 600px) {
    .navbar{
        padding: 20px 5px;
    }
    .menu{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    .container {
        max-width: 600px;
         margin: 0 auto;
    }
}